*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: lightgray;
}
.introBox{
    background-color: white;
    height: 63%;
    width: 28%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.webname{
    height: 80%;
    width: 85%;
}